#body{
    background-color:azure;
}

#menu{
    width: auto;
    height: auto;
    background-color: white;
    background-size: 2%;
    opacity: 80%;
}

#logo{
    height: 5vh;
}

#carrosel{
    width: auto;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    max-width: 500vw;
    max-height: 200vh;
}

#promocoes{
    display:flex;
    justify-content:space-around;
    align-content: center;
}

.card-img-top{
    width: 100%;
    height: 100%;
}

#reviews{
    display:flex;
    justify-content:space-around;
    align-content: center;
}

.card-img-rev{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#form{
    width: auto;
    height: auto;
}

#footer{
    background-color:antiquewhite;
    text-align: center;
    width: auto;
    height: auto;
}