#menu{
    width: auto;
    height: auto;
    background-color: white;
    background-size: 2%;
}

#logo{
    height: 5vh;
}

#carrosel{
    margin-left: 2%;
    width: auto;
    height: auto;
    margin-right: 2%;
}

#promocoes{
    display:flex;
    justify-content:space-around;
    align-content: center;
}

.card-img-top{
    width: 100%;
    height: 100%;
}

#reviews{
    display:flex;
    justify-content:space-around;
    align-content: center;
}

.card-img-rev{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#form{
    width: auto;
    height: auto;
}

#footer{
    background-color:antiquewhite;
    text-align: center;
    width: auto;
    height: auto;
}